@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

:root {
    --max-width: 1200px;
    --side-gutter-spacing: 2em;

    --gray-blue: #5d576b;
    --sat-green: #9bc1bc;
    --white-ish: #e6ebe0;
    --yellow-ish: #f4f1bb;
    --orange-ish: #ed6a5a;

    --body-color: var(--gray-blue);
    --layout-bg-color: var(--white-ish);
    --header-bg-color: var(--gray-blue);
    --footer-bg-color: var(--sat-green);
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Disable */
/* html {
    scroll-behavior: smooth;
} */

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: var(--body-color);
    background-color: var(--layout-bg-color);
}

h1 {
    font-size: 40px;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: #888;
}

p {
    margin: 20px 0;
    line-height: 35px;
}

a {
    text-decoration: none;
}

a,
a:visited,
a:focus {
    font-weight: bold;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

label {
    font-weight: bold;
    cursor: pointer;
}

button {
    cursor: pointer;
}